<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hexed</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <%= if maybe_user(@conn) != nil do %>
          <nav role="navigation">
            <ul class="nav nav-pills pull-right">
              <%= link "Logout", to: auth_path(@conn, :logout), method: :post%>
            </ul>
            <ul class="nav nav-pills pull-right">
              <%= link "Admin", to: admin_path(@conn, :index), method: :get%>
            </ul>
          </nav>
        <% end %>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <div id="sidebar">
        <div id="search">
          <%= form_for @conn, page_path(@conn, :search), [method: :get, class: "pull-right"], fn f -> %>
            <%= search_input f, :query %>
            <%= submit "Search" %>
          <% end %>
        </div>

        <div id="categories">
          <h4>Categories</h4>
          <%= for category <- categories() do %> 
            <%= link category.name, to: page_path(@conn, :category_page, category.name), method: :get%>
          <% end %>
        </div>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
