.contact-form {
	margin-top: 15px;
}

#subject-input {
	display: inline-block;
}

#email-input {
	display: inline-block;
}

.contact-textarea {
	margin-top: 10px;

	textarea {
		width: 60%;
		height: 350px;
		border-color: $accent-color;
		background: $background-color;
		outline: none;
		color: $text-color;
	}
}
