#search {
	max-width: 220px;
}

.icon {
	display: inline;
	width: 1.2em;
	height: 1.2em;
	padding: 2px;
	pointer-events: none;
}

.icon-input {
	display: flex;
	justify-content: row;
	flex-wrap: nowrap;
	border-bottom: 1px solid $accent-color;

	input {
		align-self: flex-end;
		background: none;
		font-family: inherit;
		color: $text-color;
		font-size: 10pt;
		border: none;
		border-radius: 0;
		outline: none;
		padding: 5px 0px 3px 5px;
		margin: 0;
	}

	.icon-button {
		align-self: flex-end;
		border: none;
		background-color: inherit;
		padding: 0px 6px 0px 0px;
		margin: 0 auto;
	}

	.icon-plain {
		align-self: flex-end;
		border: none;
		background-color: inherit;
		padding: 0px 6px 0px 0px;
		margin: 0 auto;
	}
}
