.headline-wrapper {
	display: block;
	margin-top: 15px;
	margin-bottom: -1px;
}

.sidebar-header {
	display: inline;
}

.pre-header {
	display: inline;
}

#sidebar {
	margin-top: 19px;
	margin-bottom: 15px;
	margin-left: 15px;

	span {
		font-family: DejaVu Sans;
	}
}
