$background-color: #000611;
$accent-color: #63C124;
$accent-dark: #6aa841;
$text-color: #D7E5E2;
$gold-color: #FFBF00;
$secondary-color: #364652;

body {
	background-color: $background-color;
	color: $text-color;
	font-family: "courier New", Monospace;
	font-size: 10pt;
	margin: 5px 30px 5px 30px;
}

#main-content {
	clear: both;

	#sidebar {
		display: block;
		float: right;
		margin-left: 10px;
	}

	main {
		display: block;
	}
}

h1 {
	margin-bottom: 0;
}

header {
	margin-bottom: 35px;
}

.post-info {
	margin-bottom: 5px;
	color: $secondary-color;
}

:link {
	color: $accent-color;
}
