<%= for post <- @posts do %>

<div class="content">

  <div class="title">
    <%= post.title %> 
  </div>

  <div class="post-info">
    <div id="date-published">
      <%= post.date_published %> 
    </div>
  </div>

  <div class="excerpt">
    <%= post.content %> 
  </div>

</div>

<% end %>
