<div id="post-content">

  <div id="title">
    <h1><%= @post.title %></h1>
  </div>

  <div class="post-info">
    <div id="date-published">
      <%= @post.date_published %> 
    </div>
  </div>

  <div id="post-content">
    <pre><%= raw(@post.content) %></pre>
  </div>

</div>
