<div id="post-content">

  <div id="title">
    <%= @post.title %>
  </div>

  <div class="post-info">
    <div id="date-published">
      <%= @post.date_published %> 
    </div>
  </div>

  <div id="post-content">
    <%= @post.content %>
  </div>

</div>
