<div id="title">
  <pre id="asci">
  ██╗  ██╗███████╗██╗  ██╗███████╗██████╗ 
  ██║  ██║██╔════╝╚██╗██╔╝██╔════╝██╔══██╗
  ███████║█████╗   ╚███╔╝ █████╗  ██║  ██║
  ██╔══██║██╔══╝   ██╔██╗ ██╔══╝  ██║  ██║
  ██║  ██║███████╗██╔╝ ██╗███████╗██████╔╝
  ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝╚═════╝ </pre>
  
  <div id="nav">
    <a href="www.google.com">Hello</a>
  </div>

</div>
