<!DOCTYPE html>
<head>
<link rel="stylesheet" href="<%= static_path(@conn, "/css/index.css") %>">
</head>

<body>
  <div id="title">
    <pre id="asci">
██╗  ██╗███████╗██╗  ██╗███████╗██████╗ 
██║  ██║██╔════╝╚██╗██╔╝██╔════╝██╔══██╗
███████║█████╗   ╚███╔╝ █████╗  ██║  ██║
██╔══██║██╔══╝   ██╔██╗ ██╔══╝  ██║  ██║
██║  ██║███████╗██╔╝ ██╗███████╗██████╔╝
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝╚═════╝</pre>
  </div>

  <div id="nav">
    <%= link "Blog", to: page_path(@conn, :blog), method: :get%>
    <a href="https://www.github.com/netsudo">Github</a>
    <%= link "Contact", to: page_path(@conn, :contact), method: :get%>
  </div>
</body>
</html>
